<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acorden.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
    <title>Gestão de Gastos</title>
</head>
<body>
     <div class="header" id="header">
         <div class="navegacao">
              <div class="acordeon">
                <button class="trigger" type="button">
                   <a href="/login">Login</a>
                </button>
              </div>
            <p>Uma jornada de mil quilômetros precisa começar com um simples passo.</p>
        </div>
     </div>
         <div class="conteudo  text-center">
             <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
             <h1 class="titulo">Bem vindo ao Manage Your Money</h1>
             <p class="big">Aqui você administra o seu dinheiro.
                <br>
                O fim do mês nunca mais será o mesmo!
             </p>
	    </div>
</body>

<footer>
    <div class="footer">
        <h4> Administre seu Salário conosco, Manage Your Money.</h4>
        <p>&copy; 2023 - Todos os direitos reservados</p>
    </div>
</footer>
</html>