.acordeon {
    display: flex;
    width: 10%;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover {
    background-color: #000000;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1rem;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}
